/**
  * @file:faq
  * @author:lyc
  *
  * @update:2016-04-25
  */

.faqWrap{
    width: 775px;
    min-height: 500px;
    height: 100%;
    overflow: hidden;
    margin-bottom: 30px;
    border: 1px solid #dcdcdc;
}
.faqList{
    width: 735px;
    min-height: 75px;
    padding: 0 20px;
}
.faqList dl{
    width: 735px;
    min-height: 75px;
    padding: 10px 0;
    border-bottom: 1px dashed #dcdcdc;
}
.faqList dl.noBorder{
    border: none;
}
.faqList dl dt{
    width: 100%;
    line-height: 30px;
    margin-bottom: 5px;
    color: #f00;
    text-align: justify;
}
.faqList dl dd{
    width: 100%;
    line-height: 27px;
    color: #1e5194;
    text-align: justify;
}

.faqSearchForm{
    width: 100%;
    height: 32px;
    margin: 10px auto 10px;
    text-align:right;
}
.faqSearchForm p{
    line-height: 32px;
    margin-right: 10px;
}
.faqSearchForm input[type="text"]{
    width: 250px;
    height: 32px;
    padding: 6px;
    margin-right: 15px;
    border: 1px solid #dcdcdc;
}
.faqSearchForm input[type="submit"]{
    height: 32px;
    padding: 0 15px;
    border: none;
    line-height: 32px;
    text-align: center;
    color: #fff;
    background: #2a9cd1;
}