/**
* @file:home
* @author:llj
*
* @update:2016-03-15
*/

/*===home-banner===*/
.home-banner {
    width: 100%;
    height: 300px;
}

/*===home-banner End===*/

/*===home-search*/
.home-search {
    width: 650px;
    height: 144px;
    border: 1px solid #d5d5d5;
}

/*===home-search End*/

/*===base===*/
.home-main {
    width: 100%;
    min-height: 483px;
}

.home-title {
    width:100%;
    font-size: 16px;
    background: url(../images/home-iconDown.jpg) no-repeat scroll center left;
    padding-left: 16px;
    border-bottom: 1px solid #d5d5d5;
}

.home-subtitle {
    font-size: 10px;
    color: #baafaf;
    margin-left: 4px;
}

.home-titleA {
    height: 18px;
    font-size: 12px;
    color: #fff;
    background-color: #fabf00;
    padding: 0px 10px 0px 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: relative;
    top: 1px;
}

/*===base End===*/


/*===home-search===*/
.home-search {
    padding:12px 0 0 34px;
}
.home_search_tabs_nav > li,
.home_search_tabs_nav > li > a {
    font-size: 16px;
    position: relative;
    display: block;
}

.home_search_tabs_nav > li {
    float: left;
    position: relative;
    z-index: 1;
    margin-bottom: 0px;
}
.home_search_tabs_nav > li + li{
    margin-left: 8px;
}

.home_search_tabs_nav > li > a {
    line-height: 1.6;
    padding: 1px 12px;
    border-radius: 0;
    color:#000;
}

.home_search_tabs_nav > li > a:hover {
    background: transparent;
}

/*选中效果*/
.home_search_tabs_nav .home_search_active {
    font-weight: bold;
}

.home_search_tabs_nav > li.home_search_active > a,
.home_search_tabs_nav > li.home_search_active > a:hover,
.home_search_tabs_nav > li.home_search_active > a:focus {
    background-position: bottom;
    cursor: pointer;
    color: #126da6;
    background-color: #bde2f7;
    margin-bottom: 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.home_search_tabs_bd {
    width: 100%;
    float: left;
    border: none;
    position: relative;
    overflow: hidden;
    border-top: none;
    z-index: 4;
    -webkit-transition: height .3s;
    transition: height .3s;
}

.home_search_tabs_bd .home_search_tab_panel {
    position: absolute;
    top: 0;
    z-index: 3;
    float: left;
    width: 100%;
    padding: 0px;
    visibility: hidden;
}

.home_search_tabs_bd .home_search_tab_panel.home_search_active {
    position: relative;
    z-index: 4;
    visibility: visible;
}
.home-searchContent {
    width:100%;
    margin-top: 5px;
}
.home-searchContentInput {
    width:468px;
    height: 36px!important;
    padding:6px 6px;
}
.home-searchContentSubmit {
    width:91px;
    height:36px;
    background: url(../images/home-searchContentBtn.jpg) no-repeat scroll 0 0;
    border:none;
    cursor: pointer;
    margin-left: 16px;
}
/*===home-search End===*/


/*===home-news===*/
.home-news {
    width:336px;
}
.home-newsMore {
    top: 480px;
    position: absolute;
    margin-left: 280px;
}
.home-news_tabs_nav {
    width:100%;
    float: left;
    border-bottom: 1px solid #d5d5d5;
    padding-bottom: 5px;
}
.home-news_tabs_nav > li,
.home-news_tabs_nav > li > a {
    font-size: 16px;
    position: relative;
    display: block;
}

.home-news_tabs_nav > li {
    float: left;
    position: relative;
    z-index: 1;
    margin-bottom: 0px;
}
.home-news_tabs_nav > li + li {
    margin-left: 4px;
}
.home-news_tabs_nav > li > a {
    line-height: 1.6;
    padding: 1px 12px;
    border-radius: 0;
    color:#000;
}

.home-news_tabs_nav > li > a:hover {
    background: transparent;
}

/*选中效果*/
.home-news_tabs_nav .home-news_active {
    font-weight: bold;
}

.home-news_tabs_nav > li.home-news_active > a,
.home-news_tabs_nav > li.home-news_active > a:hover,
.home-news_tabs_nav > li.home-news_active > a:focus {
    background-position: bottom;
    cursor: pointer;
    color: #126da6;
    background-color: #bde2f7;
    margin-bottom: 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.home-news_tabs_bd {
    width: 100%;
    float: left;
    border: none;
    position: relative;
    overflow: hidden;
    border-top: none;
    z-index: 4;
    -webkit-transition: height .3s;
    transition: height .3s;
}

.home-news_tabs_bd .home-news_tab_panel {
    position: absolute;
    top: 0;
    z-index: 3;
    float: left;
    width: 100%;
    padding: 0px;
    visibility: hidden;
}

.home-news_tabs_bd .home-news_tab_panel.home-news_active {
    position: relative;
    z-index: 4;
    visibility: visible;
}
/*list*/
.home-newsList {
    width:100%;
    float: left;
    line-height: 25px;
    border-bottom:1px solid #d5d5d5;
    padding: 2.4px 0;
}
.home-newsList ul {
    width: 100%;
    float: left;
}
.home-newsList ul > li {
    width:100%;
    float: left;
}
.home-newsList ul > li > a {
    width:238px;
    float: left;
    color:#000;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.home-newsList ul > li > span {
    float: right;
    color:#38a3db;
}
/*===home-news End===*/


/*===home-resources===*/
.home-resources {
    width: 180px;
}
/*list*/
.home-resources ul {
    font-size: 16px;
    line-height: 50px;
}
.home-resources ul > li{
    width:100%;
    float: left;
    border-bottom: 1px solid #d5d5d5;
    padding-left: 24px;
}
.home-resources ul > li > a {
    display: block;
    color:#0895dd;
}
.home-resources ul > li > a > i {
    margin-right:15px;
}
/*===home-resources End===*/


/*===home-service===*/
.home-service {
    width:566px;
    margin-left: 50px;
}
/*===service===*/
.home-service_pdcl_scroll {
    width: 566px;
    height: 168px;
    padding-top: 8px;
    margin-left: 28px;
    margin-top: 18px;
}
.home-service_photo_content {
    width:566px;
    border-top: none;
}
.home-service_photo_content1 {
    width:566px;
    float: left;
    overflow: hidden;
    margin-top: 14px;
}
.home-service_photo_content1 a {
    color:#0895dd;
    font-family: "Microsoft YaHei";
    font-weight: bold;
}
.home-service_photo_content ul {
    width: 1600px;
    overflow: hidden;
}

.home-service_photo_content ul li {
    width: 76px;
    float: left;
    display: inline;
    text-align: center;
}
.home-service_photo_content ul li+li {
    margin-left: 22px;
}
.home-service_scrool_leftbtn,.home-service_scrool_rightbtn {
    position: absolute;
    width: 21px;
    height: 16px;
    cursor: pointer;
    margin-left: 545px;
}
.home-service_scrool_leftbtn {
    background: url(../images/home-serviceIconUp.jpg) no-repeat scroll 0 0;
    margin-left: 510px;
}
.home-service_scrool_leftbtn:hover {
}
.home-service_scrool_rightbtn:hover {
}

.home-service_scrool_rightbtn {
    background: url(../images/home-serviceIconDown.jpg) no-repeat scroll 0 0;
}
.home-service_photo_img {
    width:166px;
    height: 174px;
}
/*====service End===*/
/*===home-service End===*/

/*===home-ranking===*/
.home-ranking {
    width:178px;
    height: 228px;
    border:1px solid #38a3db;
    padding:13px 14px 8px 14px;
}
.home-rankingP p {
    width:100%;
    float: left;
    line-height: 22px;
    margin-bottom: 10px;
}
.home-rankingP .icon {
    width:22px;
    height:22px;
    display: block;
    float: left;
    text-align: center;
    color:#fff;
    background-color: #ff5f5f;
    margin-right: 10px;
}
.home-rankingRed {
    color:#ff5f5f;
}
/*===home-ranking End===*/


/*===newBookWrap===*/
.newBookWrap {
    width:100%;
    margin-top: 42px;
}
/*===newBookWrap End===*/




/*===newBook===*/
.newBook {
    width:796px;
}
/*list*/
/*scroll*/
.home-book_photo_content_wrap {
    background-color: #cdeeff;
}
.home-book_pdcl_scroll {
    width: 796px;
    height: 165px;
    padding-top: 8px;
    margin-top: 18px;
}
.home-book_photo_content {
    width:796px;
    border-top: none;
}
.home-book_photo_content1 {
    width:796px;
    float: left;
    overflow: hidden;
    background:#cdeeff;
    padding:10px 12px 10px 12px;
    margin-top: 12px;
}
.home-book_photo_content1 a {
    color:#3d3d3d;
}
.home-book_photo_content ul {
    width: 1600px;
    overflow: hidden;
}

.home-book_photo_content ul li {
    width: 104px;
    float: left;
    display: inline;
    text-align: center;
}
.home-book_photo_content ul li+li {
    margin-left: 29.4px;
}
.home-book_scrool_leftbtn,.home-book_scrool_rightbtn {
    position: absolute;
    width: 28px;
    height: 65px;
    cursor: pointer;
    margin-top: 92px;
}
.home-book_scrool_leftbtn {
    cursor: pointer;
    background: url(../images/home-bookUp.png) no-repeat scroll 0 0;
}
.home-book_scrool_leftbtn:hover {
}
.home-book_scrool_rightbtn:hover {
}

.home-book_scrool_rightbtn {
    background: url(../images/home-bookDown.png) no-repeat scroll 0 0;
    margin-left: 768px;
}
.home-book_photo_img {
    width:166px;
    height: 174px;
}
/*===newBook End===*/


/*===home-software===*/
.home-software {
    width:179px;
}
.home-software a {
    float: left;
    margin-bottom: 31px;
}
/*===home-software End===*/


