/**
  * @file:personalInfo
  * @author:lyc
  *
  * @update:2016-04-26
  */


.banner{
    width: 100%;
    height: 123px;
}
/*左侧导航部分*/
.topbar{
    position: fixed;
    top: 305px;
    width:248px;
    min-height: 51px;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
}
#nav{
    width:248px;
    border: 1px solid #dcdcdc;
    border-bottom: 0;
}
#nav li{
    width:246px;
    height: 51px;
    border-bottom: 1px solid #dcdcdc;
    text-align:center;
}
#nav li a{
    color:#000;
    display:block;
    height:50px;
    line-height:50px;
    overflow:hidden;
    padding:5px 10px;
    text-decoration:none;
    background: #fff;
}
#nav li a:hover{
    color:#fff;
    background:#2a9cd1;
}
#nav li.current a{
    background:#2a9cd1;
    color:#fff;
}
/* container */
/*右侧相同样式部分*/
#container{
    width:730px;
    min-height: 500px;
    height: 100%;
    overflow: hidden;
    margin-bottom: 60px;
}
.section{
    width: 730px;
    min-height: 80px;
    border: 1px solid #dcdcdc;
}
.sectionTitle{
    width: 100%;
}
.personalInfo{
    width: 100%;
    height: 190px;
    padding: 15px;
}
.personalInfo-img{
    width: 120px;
    height: 152px;
    border: 1px solid #dcdcdc;
}
.personalInfo-content{
    width: 540px;
    height: 152px;
    margin-left: 30px;
    color: #000;
    line-height: 30px;
}
.personalInfo-content > p:last-child{
    line-height: 35px;
    margin-top: 3px;
}
.personalInfo-content > p:last-child span{
    float: left;
    display: block;
    width: 180px;
}
.personalInfo-list{
    width: 100%;
    min-height: 80px;
    padding: 0 15px;
}
.personalInfo-list ul li{
    width: 698px;
    min-height: 41px;
    border-bottom: 1px dashed #dcdcdc;
}
.personalInfo-listFirst{
    color: #1e5194;
    height: 41px;
    border-bottom: 1px solid #dcdcdc;
}
.personalInfo-listFirst span,
.personalInfo-list span,
.personalInfo-list a{
    display: inline-block;
    padding: 0 10px;
    line-height: 40px;
}

/*personalInfo-leaveWord*/
.personalInfo-leaveWord{
    height: 245px;
}
.personalInfo-leaveWord{
    line-height: 40px;
}
.personalInfo-leaveWord ul{
    width: 715px;
    height: 205px;
    margin-right: -15px;
    overflow-y: auto;
}
.personalInfo-leaveWord ul li{
    min-height: 41px;
}
.personalInfo-leaveWord .leaveWord-time,
.personalInfo-leaveWord ul li span.leaveWord-time{
    width: 130px;
    padding-right: 10px;
}
.personalInfo-leaveWord .leaveWord-content,
.personalInfo-leaveWord ul li span.leaveWord-content{
    width: 568px;
    padding: 0 20px;
}

.personalInfo-list ul li span.leaveWord-content{
    width: 568px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*personalInfo-currentBorrow*/
.personalInfo-currentBorrow{
    min-height: 81px;
    height: 100%;
    overflow: hidden;
    margin-bottom: -1px;
}
.personalInfo-currentBorrow .currentBorrow-name{
    width: 315px;
    line-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
}
.personalInfo-currentBorrow .personalInfo-listFirst .currentBorrow-name{
    color: #1e5194;
}
.personalInfo-currentBorrow .currentBorrow-author{
    width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.personalInfo-currentBorrow .currentBorrow-time{
    width: 100px;
    text-align: center;
}
.personalInfo-currentBorrow .currentBorrow-returnTime{
    width: 100px;
    text-align: center;
}

/*personalInfo-borrowHistory*/
.personalInfo-borrowHistory{
    height: 245px;
}
.personalInfo-borrowHistory ul {
    width: 715px;
    height: 205px;
    margin-right: -15px;
    overflow-y: auto;
}

/*personalInfo-Warning*/
.personalInfo-Warning{
    min-height: 81px;
    height: 100%;
    overflow: hidden;
    margin-bottom: -1px;
}
.personalInfo-Warning .Warning-name{
    width: 315px;
    line-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
}
.personalInfo-Warning .personalInfo-listFirst .Warning-name{
    color: #1e5194;
}
.personalInfo-Warning .Warning-time{
    width: 100px;
    text-align: center;
}
.personalInfo-Warning .Warning-returnTime{
    width: 100px;
    text-align: center;
}
.personalInfo-Warning .Warning-num{
    width: 80px;
    text-align: center;
}
.personalInfo-Warning .Warning-explain{
    width: 103px;
    text-align: center;
}
.personalInfo-Warning li.personalInfo-Warning_over,
.personalInfo-Warning li.personalInfo-Warning_over a,
.personalInfo-Warning li.personalInfo-Warning_over a.Warning-name,
.personalInfo-Warning li.personalInfo-Warning_over span{
    color: #f00;
}
.personalInfo-Warning li.personalInfo-Warning_over .Warning-returnTime{
    color: #000;
}
.personalInfo-Warning li.personalInfo-Warning_Warning .Warning-num{
    color: #f00;
}
/*personalInfo-notices*/
.personalInfo-notices{
    min-height: 80px;
    max-height: 204px;
    overflow: hidden;
    margin-bottom: -1px;
}
.personalInfo-notices li a{
    width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
}
.personalInfo-notices li span{
    width: 100px;
    text-align: center;
    color: #898989;
}
/*newBooks_recommend*/
.newBooks_recommend{
    margin: 15px -47px 15px 30px;
    width: 714px;
    height: 224px;

}
.newBooks_recommend li{
    float: left;
    width: 130px;
    margin-right:47px ;
}
.newBooks_recommend li a{
    width: 130px;
    display: block;
    height: 186px;
}
.newBooks_recommend li > p{
    width: 130px;
    height: 30px;
    margin-top: 5px;
}
.newBooks_recommend li > p a{
    color: #000;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


