 <!-- 声明文档使用的编码 -->
    <meta charset="UTF-8">
    <!-- 优先使用最新版的IE和Chrome浏览器 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <!-- 360浏览器使用webkit内核 -->
    <meta name="renderer" content="webkit"/>
    <!-- 禁止百度转码（适用于移动端浏览器） -->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!-- 移动优先,如果网站非响应式设计,请勿使用本meta -->
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <!-- 禁止Google浏览器提示翻译 -->
    <meta name="google" content="notranslate"/>
    <!-- 添加favicon -->
    <link rel="shortcut icon" type="image/ico" href="images/favicon-logo.png"/>

    <!-- SEO开始 -->
    <title>空军预警首页_空军预警学院图书馆</title>
    <meta name="keywords" content="">
    <!-- 邮箱号码-->
    <meta name="description" content="不超过150个字符">
    <meta name="author" content="">
    <meta name="robots" content="index,follow">
    <!-- SEO结束 -->

    <!-- 移动端设备开始 -->
    <!-- 移除邮箱、电话号码检测 -->
    <meta name="format-detection" content="telephone=no, email=no"/>
    <!-- 删除苹果默认的工具栏和菜单栏 -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!--UC强制竖屏-->
    <meta name="screen-orientation" content="portrait">
    <!--QQ强制竖屏-->
    <meta name="x5-orientation" content="portrait">
    <!--UC强制全屏-->
    <meta name="full-screen" content="yes">
    <!--QQ强制全屏-->
    <meta name="x5-fullscreen" content="true">
    <!--UC应用模式-->
    <meta name="browsermode" content="application">
    <!--QQ应用模式-->
    <meta name="x5-page-mode" content="app">
    <!-- 移动端设备结束 -->

    <!--font-awesome-->
    <link href="/${res}/css/font-awesome-4.5.0/css/font-awesome.css" rel="stylesheet">
    <!--base共用-->
    <link href="/${res}/css/base.css" rel="stylesheet">