[#--
栏目翻页样式
pageClass: 翻页DIV class
    pageStyle: 翻页DIV style
--]
     [#assign p=tag_pagination/]
    <!--<div class="pagesize">
    [#if p.firstPage]&nbsp;<a disabled="disabled">首页</a> <a disabled="disabled">上一页</a>[#t/]
    [#else]&nbsp;<a href="#" onclick="location.href=encodeURI('${hrefFormer}${hrefLatter}');">首页</a> <a href="#" onclick="location.href=encodeURI('${hrefFormer}[#if p.prePage gt 1]_${p.prePage}[/#if]${hrefLatter}');">上一页</a>[#t/]
    [/#if]
    [#list 1..p.totalPage as i]
      <a href="#" onclick="location.href=encodeURI('${hrefFormer}_${i}${hrefLatter}');"[#if p.pageNo==i] class="page_current"[/#if]>${i}</a>
    [/#list]
    [#if p.lastPage]&nbsp;<a disabled="disabled">下一页</a> <a disabled="disabled">尾页</a>
    [#else]&nbsp;<a href="#" onclick="location.href=encodeURI('${hrefFormer}_${p.nextPage}${hrefLatter}');">下一页</a> <a href="#" onclick="location.href=encodeURI('${hrefFormer}_${p.totalPage}${hrefLatter}');">尾页</a>
    [/#if]
    </div> -->
[#if p.firstPage]
[#else]
    <a href="${hrefFormer}${hrefLatter}"> |<</a>
    <a href="${hrefFormer}[#if p.prePage gt 1]_${p.prePage}[/#if]${hrefLatter}"> < </a>
[/#if]
[#if pageNo-5 gt 1]
    [#if p.totalPage gt pageNo+4]
        [#list pageNo-5..pageNo+4 as i]
            [#if i = pageNo]
                <span class="current">${i}</span>
            [#else]
                <a href="${hrefFormer}[#if i gt 1]_${i}[/#if]${hrefLatter}">${i}</a>
            [/#if]
        [/#list]
    [#else]
        [#list p.totalPage-9..p.totalPage as i]
            [#if i = pageNo]
                <span class="current">${i}</span>
            [#else]
                <a href="${hrefFormer}[#if i gt 1]_${i}[/#if]${hrefLatter}">${i}</a>
            [/#if]
        [/#list]
    [/#if]
[#else]
    [#if p.totalPage gt 10]
        [#list 1..10 as i]
            [#if i = pageNo]
                <span class="current">${i}</span>
            [#else]
                <a href="${hrefFormer}[#if i gt 1]_${i}[/#if]${hrefLatter}">${i}</a>
            [/#if]
        [/#list]
    [#else]
        [#list 1..p.totalPage as i]
            [#if i = pageNo]
                <span class="current">${i}</span>
            [#else]
                <a href="${hrefFormer}[#if i gt 1]_${i}[/#if]${hrefLatter}">${i}</a>
            [/#if]
        [/#list]
    [/#if]
[/#if]
[#if p.lastPage]
[#else]
    <a href="${hrefFormer+'_'+p.nextPage+hrefLatter}"> > </a>
    <a href="${hrefFormer+'_'+p.totalPage+hrefLatter}"> >| </a>
[/#if]
<span class="total">共${p.totalPage}页</span>