<div style="clear: both;height:14px;"></div>
<!--footer Start-->
<div class="home-footer">
    中国人民解放军空军预警学院图书馆<br>
    地址：武汉市江岸区  &nbsp;&nbsp;在线人数:12 &nbsp;&nbsp;站点总访问量:123456
</div> 
<!--footer End-->