/**
* @file:overview
* @author:lyc
*
* @update:2016-04-01
*/

/* ===homeSiteFl=== */
.homeSiteFlWrap{
    width: 219px;
}
.homeSiteFlWrap > p.homeSiteFl-title{
    width: 219px;
    height:88px;
    background: url("../images/homeSiteFl-titleBg.jpg");
    padding:10px 0 0 25px;
    letter-spacing: 10px;
    color: #fff;
}
.homeSiteFl-list{
    width: 219px;
    min-height: 100px;
    margin-top: 14px;
}
.homeSiteFl-list li{
    width: 219px;
    margin-bottom: 1px;
}
.homeSiteFl-list li a{
     width: 219px;
     height: 44px;
     line-height: 44px;
     padding-left:22px;
     border-left: 2px solid #d2d2d2;
     background: #eee;
     color: #454545;
     display: block;
 }
.homeSiteFl-list li.homeSiteFl-current a{
    border-left: 2px solid #1e5194;
    background: #2a9cd1;
    color: #fff;
}
.homeSiteFl-list li ul{
    border: 1px solid #eee;
    display: none;
}
.homeSiteFl-list li.homeSiteFl-current ul{
    display: block;
}
.homeSiteFl-list li ul li,
.homeSiteFl-list li.homeSiteFl-current ul li
{
    width:181px;
    height: 40px;
    margin-left: 38px;
    border-left:1px solid #eee;
    display: block;

}
.homeSiteFl-list li ul li a,
.homeSiteFl-list li.homeSiteFl-current ul li a
{
    position: relative;
    top: 11px;
    width: 100%;
    height: 18px;
    line-height: 18px;
    margin-left:-1px;
    padding-left:11px;
    border-left: 1px solid #eee;
    color: #454545;
    background: none;
    display: block;
}
.homeSiteFl-list li ul li a.homeSiteFl-subCurrent{
    border-left: 1px solid #2a9cd1;
    color:#2a9cd1 ;
}
/* ===homeSiteFl End=== */

/*===homeSiteFr===*/
.homeSiteFrWrap{
    width:775px;
    min-height:100px;
    height: 100%;
    overflow: hidden;

}
.homeSiteFr_locationWrap{
    width: 775px;
    height: 40px;
    margin-bottom: 15px;
}
.homeSiteFr_locationWrap span{
    color: #38a3db;
}
.homeSiteFr_location,
.homeSiteFr_location a{
    height: 30px;
    line-height: 30px;
    color: #989898;
}
.homeSiteFr_location a:hover{
    color:#2a9cd1 ;
}
.homeSiteFr_locationBottom{
    width: 100%;
    height: 10px;
    background: url("../images/homeSiteFr-titleBg.jpg") no-repeat;
}

/*===homeSiteFr End===*/