/**
* @file:headerFooter
* @author:llj
*
* @update:2016-03-15
*/

.container {
    width:1024px;
    margin:0 auto;
}

/*====header====*/
.home-header {
    height: 108px;
}
.home-logo {
    padding-top: 16px;
}
.home-headerLinks {
    width:100%;
    text-align: right;
    margin-top: 8px;
}
.home-headerLinks a {
    color:#000000;
}
.home-headerLinks a + a {
    margin-left: 30px;
}
/*right*/
.home-headerFr {
    width:438px;
}
.home-headerForm {
    width:438px;
    margin-top: 18px;
}
.home-headerForm .form-group {
    margin-left: 12px;
}
.home-headerForm .form-group input {
    height: 30px;
    padding:6px 6px;
}
.home-headerForm .form-group label {
    padding-top: 5px;
    margin-right: 8px;
}
/*form*/
.home-headerInput {
    width:130px;
    float: left;
}
.home-headerPsd {
    width:135px;
    float: left;
}
.home-headerBtn {
    float: right;
    background: #126da6;
    padding:5px 12px;
}
/*====header End====*/


/*===home-nav===*/
.home-nav {
    width:100%;
    height: 48px;
    color:#fff;
    letter-spacing: 8px;
    background-color: #1e5194;
    padding-top: 7px;
}
.home-nav ul > li {
    float: left;
    line-height: 34px;
    font-size: 18px;
}
.home-nav ul > li + li {
    margin-left: 15px;
}
.home-nav ul > li > a {
    color:#fff;
    float: left;
    text-align: center;
    padding:0px 12px 0 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.home-nav ul > li.current > a ,
.home-nav ul > li > a:hover {
    background-color: #2a9cd1;
}
/*===home-nav End===*/


/*===home-footer===*/
.home-footer {
    width: 100%;
    color:#fff;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    background-color: #1e5194;
    padding:10px 0;
}

