/**
* @file:navigationVersion导航版
* @author:llj
*
* @update:2016-03-17
*/


.navigationVersion-container {
    width:1000px;
    margin:0 auto;
}

/*header*/
.header {
    width: 100%;
    height: 110px;
    text-align: center;
    background-color: #fff;
    border-bottom:1px solid #c9c9c9;
    padding-top: 18px;
}

/*====navigationVersion-quick====*/
/*navigationVersion-quick*/
.navigationVersion-quick {
    width: 100%;
    height: 188px;
    position: fixed;
    bottom: 0;
}
.navigationVersion-quick ul {
    width:100%;
    float: left;
    padding:0 85px;
}
.navigationVersion-quick ul > li {
    width:92px;
    float: left;
    font-size: 16px;
    text-align: center;
}
.navigationVersion-quick ul > li + li {
    margin-left:30px;
}
.navigationVersion-quick ul > li > a {
    color:#fff;
}
/*====navigationVersion-quick结束====*/


/*====navigationVersion-tab====*/
.navigationVersion-tab {
    width:690px;
    position: absolute;
    left:50%;
    top: 25%;
    margin-left: -322px;
}
.navigationVersion_tabs_nav {
    font-size: 16px;
    padding-left: 55px;
    position: relative;
    top: 1px;
    z-index: 111;
}
.navigationVersion_tabs_nav > li,
.navigationVersion_tabs_nav > li > a {
    position: relative;
    display: block;
}

.navigationVersion_tabs_nav > li {
    float: left;
    position: relative;
    z-index: 1;
    margin-bottom: 0px;
}

.navigationVersion_tabs_nav > li > a {
    line-height: 1.6;
    padding: 6px 18px;
    border-radius: 0;
    color:#fff;
    background: #126da6;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border:1px solid #126da6;
}
.navigationVersion_tabs_nav > li + li {
    margin-left: 1px;
}
.navigationVersion_tabs_nav > li > a:hover {
    background: transparent;
}

/*选中效果*/
.navigationVersion_tabs_nav .navigationVersion_active {
    font-weight: bold;
}

.navigationVersion_tabs_nav > li.navigationVersion_active > a,
.navigationVersion_tabs_nav > li.navigationVersion_active > a:hover,
.navigationVersion_tabs_nav > li.navigationVersion_active > a:focus {
    background-position: bottom;
    cursor: pointer;
    color: #000;
    background: #fff;
    border-top:1px solid #126da6;
    border-right:1px solid #126da6;
    border-bottom:1px solid #fff;
    border-left:1px solid #126da6;
}

.navigationVersion_tabs_bd {
    width:692px;
    float: left;
    border: none;
    position: relative;
    overflow: hidden;
    border-top: none;
    z-index: 100;
}

.navigationVersion_tabs_bd .navigationVersion_tab_panel {
    width:692px;
    height: 344px;
    position: absolute;
    top: 0;
    z-index: 99;
    float: left;
    width: 100%;
    padding: 0px;
    visibility: hidden;
    padding:34px 0 0 38px;
}

.navigationVersion_tabs_bd .navigationVersion_tab_panel.navigationVersion_active {
    position: relative;
    z-index: 100;
    visibility: visible;
}

/*form*/
.navigationVersion-tabContent {
    width: 100%;
    float: left;
}
.navigationVersion-tabInput {
    width:468px;
    height: 36px!important;
    float: left;
    border:1px solid #9e9e9e;
}
.navigationVersion-tabSubmit {
    width:91px;
    height:36px;
    float: left;
    border:none;
    cursor: pointer;
    margin-left: 16px;
}
.navigationVersion-tabMsg {
    width:100%;
    float: left;
    margin-top: 20px;
}
/*.navigationVersion-tabA*/
.navigationVersion-tabA {
    width: 24px;
    font-size: 16px;
    margin-right: 9px;
    position: absolute;
    right: 0;
    top: 27px;
}
.navigationVersion-tabA > a {
    color:#fff;
}
/*====navigationVersion-tab结束====*/
