/**
* @file:overview
* @author:lyc
*
* @update:2016-04-01
*/

/*=== siteSearchWrap ===*/
.siteSearchWrap span{
    height: 32px;
    line-height: 32px;
    margin-right: 5px;
    display: inline-block;
    letter-spacing:normal;
}
.siteSearchWrap input.siteSearch-text{
    width:208px;
    height: 32px;
    line-height: 32px;
    padding: 5px;
    border: 1px solid #dcdcdc;
}
.siteSearchWrap input.siteSearch-submit{
    width: 42px;
    height: 32px;
    background: #2a9cd1 url("../images/search_icon.png") center no-repeat;
    border: none;
}

